:ruby
  nav_items = [
    { name: 'Home', href: '/' },
    { name: 'Calculator', href: '/calculator' },
    { name: 'About', href: '/about' },
    { name: 'Team', href: '/team' },
    { name: 'Blog', href: '/blog' },
    { name: 'FAQ', href: '/faq' },
    { name: 'Login', href: '/login' }
  ]

#component-navigation
  %nav.navbar.navbar-expand-lg.navbar-dark
    %a.navbar-brand{href: "/"}
      %img{src: image_url('cobuy-icon.png')}
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        - nav_items.each do |item|
          %li.nav-item{class: current_page?(item[:href]) && 'active'}
            %a.nav-link{href: item[:href]}= item[:name]
