#page-home {
  nav {
    background-color: #3899da;
  }
  
  .hero {
    background-image: url('../images/couch');
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
  }
}
